body {
    margin: auto;
    padding: 30px;
    color: #000;
    font-family: 'Lato', sans-serif;
}


/* ---- Set up site grid ---- */

.wrapper {
    display: grid;
    grid-template-columns: 150px 200px 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "banner banner banner banner"
        "side side main main"
        "footer footer footer footer";
        grid-gap: 5px;
    
}

/* ---- End of grid setup ---- */


/* -000- Area styling -000- */

.box {
    padding: 20px;
    background-color: #ddd;
    border-radius: 10px;
}

/* Area colouring... */

/* logo, banner and footer background are the same */
.logo, .banner, .footer {
    background-color: #cfebea;  /* dark grey */
}

.logo, .banner {
    column-gap: 0px;
}

/* Set font on dark areas to white */
.side {
    color: #fff;
}

/* Area specifics */

.logo {
    grid-area: logo;
    padding: 0;
    height: 150px;
    width: auto;
    background-image: url(burger_logo-v2.png);
}

.banner {
    grid-area: banner;
/*    vertical-align: middle;*/
    text-align: center;
    height: 150px;
}

.side {
    grid-area: side;
    background-color: #555;
    
}

.main {
    grid-area: main;
    background-color: #EEE;  /* very pale grey */
}


.footer {
    grid-area: footer;
    text-align: right;
}

/* -000- End of area styling -000- */

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
}

/* Navigation Links */
.nav a {font-weight: bold;}
.nav a:link, .nav a:visited {color: #AA0000;} /*dark red */
.nav a:hover {color: #604830; text-decoration: none;} /* chocolate brown */


/* links in page */
a {font-weight: bold;}
a:link{color: #AA0000;} /*dark_red */
a:visited{color: #111177;} /* dark blue */
a:hover{color: #000;}    /* Black*/


/* Contact Form Styling */
.contact {
    width: 100%;
}


.img-circle {
    border-radius: 50%;
}

.center_image {
    text-align: center;
}

/* Sub Heading Formatting */
.sub_heading {
    font-family: 'Ubuntu', sans-serif;
    color: #593849; /* purple */
    font-weight: bold;
}




















